<li>
  <%= link_to user do %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= user.name %>
            | Vek: <%= time_ago_in_words user.birthday unless user.birthday.nil? %>
            <% if current_user and current_user.admin? and !current_user?(user) %>
                | <%= link_to "Zmazať", user, method: :delete, data: {confirm: "Naozaj?"}, class: 'btn btn-primary' %>
            <% end %>
          </h3>
        </div>
        <div class="panel-body">
          <%= gravatar_for user, size: 50 %>
          <h4>Popis uživatela</h4>
          <%= user.description %>
        </div>
      </div>
  <% end %>
</li>