<%= provide(:title, "Registrácia") %>
<h1>Registrácia</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= semantic_form_for @user do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.semantic_errors %>

        <%= f.inputs do %>
            <%= f.input :name %>
            <%= f.input :email, as: :email %>
            <%= f.input :password, as: :password %>
            <%= f.input :password_confirmation, as: :password %>
        <% end %>

        <%= f.action :submit, label: "Registrovať" %>
    <% end %>
  </div>
</div>
