<%= provide(:title, "Pridať zónu") %>
<h1>Kreslítko</h1>

<p id="helper" class="btn btn-primary text-center">Nápoveda</p></div>
<div id="popup">
  <p>
    Pre pridanie novej zóny, prosím vyplňte formulár na pravej strane. Povinné
    položky sú: názov zóny a obmedzenie. Následne nakreslite oblasť na mape
    pomocou kresliaceho nástroja
  </p>
  <p>
    Najskôr si s pomocou nástroja "ruka" nastavte mapu do správnej polohy, tak aby
    ste na mape videli celú oblasť na ktorú chcete kresliť. Následne zvoľte
    nástroj na kreslenie mnohouholníkov vedľa "ruky". Kreslí sa ním tak, že klikáte
    na vrcholy mnohouholníka (oblasti ktorú chcete vyznačiť). Akonáhle sa tento
    uzavrie (vyplní čiernou farbou) je vyznačovanie dokončené a môžete novú oblasť
    uložiť.
  </p>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div id="map-drawing-tool" class="map"></div>
  </div>
  <div class="col-md-offset-1 col-md-3">
    <%= semantic_form_for @area do |f| %>
        <%= render partial: 'shared/error_messages', locals: {obj: @area} %>

        <%= f.semantic_errors %>

        <%= f.inputs do %>
            <%= f.input :name, label: 'Názov zóny', required: true %>
            <%= f.input :area_color, as: :select, include_blank: false, collection: @colors.pluck(:description, :id), label: 'Obmedzenia', required: true %>
            <%= f.input :geom, as: :hidden, required: true %>
            <%= f.input :city_id, as: :hidden, input_html: {value: @area.city_id} %>
            <%= f.input :description, label: 'Popis', as: :text, input_html: {:class => 'form-control', :rows => 4, :cols => 20,
                                                                              placeholder: "Stručný opis (1-2 vety)...."} %>
        <% end %>
        <%= f.action :submit, label: 'Uložiť' %>
    <% end %>
  </div>
</div>
<%= content_tag :div, class: "city_class", data: {city: @city} do %>
<% end %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyABIzzN7SlW5GoZk7xOoBziqObZRw9TzsU&libraries=drawing,geometry&callback=initDrawingMap", defer: 'defer', async: 'async' %>
