<% provide(:title, @city.name) %>
<h1><%= @city.name %></h1>
<p>Počet návštevníkov stránky mesta: <%= @card %></p>
<div class="row">
  <div id="map-city" class="map col-md-10"></div>
</div>

<% if logged_in? %>
    <%= link_to "Pridať zónu", add_zone_path(id: "#{@city.id}"), class: "btn btn-lg btn-primary" %>
<% end %>

<%= content_tag :div, class: "city_class", data: {city: @city} do %>
<% end %>
<%= content_tag :div, class: "colors_class", data: {colors: @colors} do %>
<% end %>
<%= content_tag :div, class: "areas_class", data: {areas: @areas} do %>
<% end %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyABIzzN7SlW5GoZk7xOoBziqObZRw9TzsU&libraries=geometry&callback=initCityMap", defer: 'defer', async: 'async'  %>
<script>document.onload = initCityMap();</script>